<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数据尚云</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link th:href="@{/libs/layui/css/layui.css}" rel="stylesheet" href="../../static/layui/css/layui.css"/>
  <link th:href="@{/css/reset.css}" rel="stylesheet" href="../../static/css/reset.css"/>
</head>
<body>
  
  <h2>此文件为html模板</h2>

  <script th:src="@{/libs/layui/layui.js}" src="../../static/layui/layui.js"></script>
  <script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>